<div class="row">
  <div class="col-md-4">
    <%= link_to "Back", root_path, class: "btn btn-info" %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <%= image_tag @book.image, alt: "Image not found", class: "book-show" %>
  </div>
  <div class="col-md-8">
    <div class="book-info">
      <h2 class="book-title"><%= @book.title %></h2>
      <h3 class="book-author"><span>From </span><%= @book.author %></h3>
      <h2 class="avg-rating">Average Rating: <%= @book.average_rating %></h2>
      <span class="number-of-reviews">Based on <%= pluralize(@book.reviews.count, 'review') %></span>
      <p class="book-description"><%= @book.description %></p>
      <div class="links btn-group">
        <% if user_signed_in? && @book.user == current_user %>
          <%= link_to "Edit", edit_book_path(@book), class: "btn btn-custom" %>
          <%= link_to "Delete", book_path(@book), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-custom" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="reviews">
      <h1>Reviews</h1>
      <%= render @book.reviews %>
      <div>
        <%= link_to "Add Review", new_book_review_path(@book), class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>

